$navbar-height: 100px

@import 'bootstrap-sprockets'
@import 'bootstrap'

.navbar
  background-color: #1e242e

.navbar-brand
  padding: 20px 0

.nav-pills > li > a
  text-transform: uppercase
  font-size: 14px
  font-family: "Roboto Condensed", Helvetica Neue, Helvetica, Arial, sans-serif
  color: #999999
  font-weight: bold
  margin: 0px auto 0px auto
  position: static
  display: inline-block
  background-color: #1e242e
  padding: 25px
  margin: 2px
  transition: background-color 2s

  &:hover
    color: #FFF
    background-color: #d81c87
    border-radius: 1px

.navbar-static-top
  border-radius: 0px
  margin-bottom: 0px
