 <nav class="navbar navbar-navbar-fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand" href="#">
          <%= image_tag 'logo-miranda-1.png' %>
        </a>
      </div>
    </div>
  </nav>
