  </br>
  </br>

  <nav class="navbar navbar-navbar navbar-static-top bs-docs-nav" id="top" role="panel">
    <div class="container">
      <div class="panel-body">
      </div>
      <div class="panel-footer">
        | Belém - Pará - Brasil |
        | Contatos: (91) 3226-1601 - 98938-0498 - 98817-2825 |
        | E-mail: fmirandaweb@gmail.com |
        | Copyright © 2015 - Miranda Web |
      </div>
    </div>
  </div>
</nav>
